@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Microsoft Yahei'; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

/*头部*/
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 20px;
  z-index: 50;
  /*菜单栏*/ }
  .header #menu {
    width: 575px;
    height: 40px;
    margin: 0px auto;
    /*当前的菜单栏页*/ }
    .header #menu li {
      float: left; }
      .header #menu li a {
        display: block;
        margin: 0 25px;
        line-height: 40px;
        color: #fff;
        font-size: 16px; }
    .header #menu .active a {
      border-bottom: 2px solid white;
      transition: 0.6s; }

/*中间主要内容*/
#main {
  /*公共区*/ }
  #main .section {
    width: 100%;
    text-align: center;
    overflow: hidden; }

/*第一页loading动画*/
@-webkit-keyframes loading1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes loading2 {
  50% {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.4;
    filter: alpha(opacity=40); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
.s1.active .box {
  width: 405px;
  height: 200px;
  margin: 0 auto; }
  .s1.active .box span {
    position: relative;
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    line-height: 200px; }
  .s1.active .box .loading1 i {
    display: inline-block;
    width: 4px;
    height: 36px;
    background-color: #333333;
    border-radius: 3px;
    margin: 0 2px; }
    .s1.active .box .loading1 i:nth-child(1) {
      -webkit-animation: loading1 1s ease-in 0.5s infinite;
      -moz-animation: loading1 1s ease-in 0.5s infinite;
      -ms-animation: loading1 1s ease-in 0.5s infinite;
      -o-animation: loading1 1s ease-in 0.5s infinite;
      animation: loading1 1s ease-in 0.5s infinite; }
    .s1.active .box .loading1 i:nth-child(2) {
      -webkit-animation: loading1 1s ease-in 0.6s infinite;
      -moz-animation: loading1 1s ease-in 0.6s infinite;
      -ms-animation: loading1 1s ease-in 0.6s infinite;
      -o-animation: loading1 1s ease-in 0.6s infinite;
      animation: loading1 1s ease-in 0.6s infinite; }
    .s1.active .box .loading1 i:nth-child(3) {
      -webkit-animation: loading1 1s ease-in 0.75s infinite;
      -moz-animation: loading1 1s ease-in 0.75s infinite;
      -ms-animation: loading1 1s ease-in 0.75s infinite;
      -o-animation: loading1 1s ease-in 0.75s infinite;
      animation: loading1 1s ease-in 0.75s infinite; }
    .s1.active .box .loading1 i:nth-child(4) {
      -webkit-animation: loading1 1s ease-in 0.9s infinite;
      -moz-animation: loading1 1s ease-in 0.9s infinite;
      -ms-animation: loading1 1s ease-in 0.9s infinite;
      -o-animation: loading1 1s ease-in 0.9s infinite;
      animation: loading1 1s ease-in 0.9s infinite; }
    .s1.active .box .loading1 i:nth-child(5) {
      -webkit-animation: loading1 1s ease-in 1s infinite;
      -moz-animation: loading1 1s ease-in 1s infinite;
      -ms-animation: loading1 1s ease-in 1s infinite;
      -o-animation: loading1 1s ease-in 1s infinite;
      animation: loading1 1s ease-in 1s infinite; }
  .s1.active .box .loading2 i {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333333; }
    .s1.active .box .loading2 i:nth-child(1) {
      top: 58px;
      -webkit-animation: loading2 1s ease-in 0s infinite;
      -moz-animation: loading2 1s ease-in 0s infinite;
      -ms-animation: loading2 1s ease-in 0s infinite;
      -o-animation: loading2 1s ease-in 0s infinite;
      animation: loading2 1s ease-in 0s infinite; }
    .s1.active .box .loading2 i:nth-child(2) {
      top: 64px;
      left: 85px;
      -webkit-animation: loading2 1s ease-in -0.12s infinite;
      -moz-animation: loading2 1s ease-in -0.12s infinite;
      -ms-animation: loading2 1s ease-in -0.12s infinite;
      -o-animation: loading2 1s ease-in -0.12s infinite;
      animation: loading2 1s ease-in -0.12s infinite; }
    .s1.active .box .loading2 i:nth-child(3) {
      top: 78px;
      left: 80px;
      -webkit-animation: loading2 1s ease-in -0.24s infinite;
      -moz-animation: loading2 1s ease-in -0.24s infinite;
      -ms-animation: loading2 1s ease-in -0.24s infinite;
      -o-animation: loading2 1s ease-in -0.24s infinite;
      animation: loading2 1s ease-in -0.24s infinite; }
    .s1.active .box .loading2 i:nth-child(4) {
      top: 91px;
      left: 85px;
      -webkit-animation: loading2 1s ease-in -0.36s infinite;
      -moz-animation: loading2 1s ease-in -0.36s infinite;
      -ms-animation: loading2 1s ease-in -0.36s infinite;
      -o-animation: loading2 1s ease-in -0.36s infinite;
      animation: loading2 1s ease-in -0.36s infinite; }
    .s1.active .box .loading2 i:nth-child(5) {
      top: 97px;
      left: 100px;
      -webkit-animation: loading2 1s ease-in -0.48s infinite;
      -moz-animation: loading2 1s ease-in -0.48s infinite;
      -ms-animation: loading2 1s ease-in -0.48s infinite;
      -o-animation: loading2 1s ease-in -0.48s infinite;
      animation: loading2 1s ease-in -0.48s infinite; }
    .s1.active .box .loading2 i:nth-child(6) {
      top: 90px;
      left: 115px;
      -webkit-animation: loading2 1s ease-in -0.6s infinite;
      -moz-animation: loading2 1s ease-in -0.6s infinite;
      -ms-animation: loading2 1s ease-in -0.6s infinite;
      -o-animation: loading2 1s ease-in -0.6s infinite;
      animation: loading2 1s ease-in -0.6s infinite; }
    .s1.active .box .loading2 i:nth-child(7) {
      top: 78px;
      left: 122px;
      -webkit-animation: loading2 1s ease-in -0.72s infinite;
      -moz-animation: loading2 1s ease-in -0.72s infinite;
      -ms-animation: loading2 1s ease-in -0.72s infinite;
      -o-animation: loading2 1s ease-in -0.72s infinite;
      animation: loading2 1s ease-in -0.72s infinite; }
    .s1.active .box .loading2 i:nth-child(8) {
      top: 65px;
      left: 115px;
      -webkit-animation: loading2 1s ease-in -0.84s infinite;
      -moz-animation: loading2 1s ease-in -0.84s infinite;
      -ms-animation: loading2 1s ease-in -0.84s infinite;
      -o-animation: loading2 1s ease-in -0.84s infinite;
      animation: loading2 1s ease-in -0.84s infinite; }

/*第二页弹球效果*/
/*定义时间帧*/
@-webkit-keyframes ball {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  30% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    -o-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes ball {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  30% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    -o-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes shadow {
  0% {
    width: 10px;
    height: 5px;
    left: 120px;
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 25px 20px rgba(20, 20, 20, 0.3); }
  30% {
    width: 50px;
    height: 30px;
    left: 100px; }
  100% {
    width: 10px;
    height: 5px;
    left: 120px;
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 25px 20px rgba(20, 20, 20, 0.3); } }
@keyframes shadow {
  0% {
    width: 10px;
    height: 5px;
    left: 120px;
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 25px 20px rgba(20, 20, 20, 0.3); }
  30% {
    width: 50px;
    height: 30px;
    left: 100px; }
  100% {
    width: 10px;
    height: 5px;
    left: 120px;
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 25px 20px rgba(20, 20, 20, 0.3); } }
.s2 .box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto; }
  .s2 .box .ball {
    width: 100px;
    height: 100px;
    margin-left: 75px;
    transition: 2s;
    background: -webkit-linear-gradient(top, #fff, #999) darkgray;
    box-shadow: inset 0 0 30px #999, inset 0 -15px 70px #999; }
    .s2.active .box .ball {
      border-radius: 50%;
      -webkit-transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s;
      -webkit-animation: ball 1s 2s infinite;
      -moz-animation: ball 1s 2s infinite;
      -ms-animation: ball 1s 2s infinite;
      -o-animation: ball 1s 2s infinite;
      animation: ball 1s 2s infinite; }
    .s2.active .box .ball-shadow {
      position: absolute;
      left: 120px;
      bottom: 0;
      width: 10px;
      height: 5px;
      border-radius: 50%;
      background: rgba(20, 20, 20, 0.2);
      box-shadow: 0 0 25px 20px rgba(20, 20, 20, 0.2);
      -webkit-transform: scaleY(0.3);
      -moz-transform: scaleY(0.3);
      -ms-transform: scaleY(0.3);
      -o-transform: scaleY(0.3);
      transform: scaleY(0.3);
      -webkit-animation: shadow 1s 2s infinite;
      -moz-animation: shadow 1s 2s infinite;
      -ms-animation: shadow 1s 2s infinite;
      -o-animation: shadow 1s 2s infinite;
      animation: shadow 1s 2s infinite; }

/*第三页*/
/*水平展开动画*/
.s3 ul {
  width: 1000px;
  margin: 0 auto; }
  .s3 ul li {
    float: left;
    margin: 0 10px; }
    .s3 ul li:nth-child(1) {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .s3 ul li:nth-child(2) {
      -webkit-transform: translateX(-320px);
      -moz-transform: translateX(-320px);
      -ms-transform: translateX(-320px);
      -o-transform: translateX(-320px);
      transform: translateX(-320px); }
    .s3 ul li:nth-child(3) {
      -webkit-transform: translateX(-660px);
      -moz-transform: translateX(-660px);
      -ms-transform: translateX(-660px);
      -o-transform: translateX(-660px);
      transform: translateX(-660px); }
.s3.active ul li {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.8s 0.5s;
  -moz-transition: 0.8s 0.5s;
  -ms-transiton: 0.8s 0.5s;
  -o-transition: 0.8s 0.5s;
  transition: 0.8s 0.5s; }

/*第四页弹性动画*/
/*定义时间帧*/
@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(320px, -1000px);
    -moz-transform: translate(320px, -1000px);
    -ms-transform: translate(320px, -1000px);
    -o-transform: translate(320px, -1000px);
    transform: translate(320px, -1000px); }
  20% {
    -webkit-transform: translate(320px, 0px);
    -moz-transform: translate(320px, 0px);
    -ms-transform: translate(320px, 0px);
    -o-transform: translate(320px, 0px);
    transform: translate(320px, 0px); }
  40% {
    -webkit-transform: translate(320px, -50px);
    -moz-transform: translate(320px, -50px);
    -ms-transform: translate(320px, -50px);
    -o-transform: translate(320px, -50px);
    transform: translate(320px, -50px); }
  60% {
    -webkit-transform: translate(320px, 0px);
    -moz-transform: translate(320px, 0px);
    -ms-transform: translate(320px, 0px);
    -o-transform: translate(320px, 0px);
    transform: translate(320px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes move1 {
  0% {
    -webkit-transform: translate(320px, -1000px);
    -moz-transform: translate(320px, -1000px);
    -ms-transform: translate(320px, -1000px);
    -o-transform: translate(320px, -1000px);
    transform: translate(320px, -1000px); }
  20% {
    -webkit-transform: translate(320px, 0px);
    -moz-transform: translate(320px, 0px);
    -ms-transform: translate(320px, 0px);
    -o-transform: translate(320px, 0px);
    transform: translate(320px, 0px); }
  40% {
    -webkit-transform: translate(320px, -50px);
    -moz-transform: translate(320px, -50px);
    -ms-transform: translate(320px, -50px);
    -o-transform: translate(320px, -50px);
    transform: translate(320px, -50px); }
  60% {
    -webkit-transform: translate(320px, 0px);
    -moz-transform: translate(320px, 0px);
    -ms-transform: translate(320px, 0px);
    -o-transform: translate(320px, 0px);
    transform: translate(320px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translate(0px, -1000px);
    -moz-transform: translate(0px, -1000px);
    -ms-transform: translate(0px, -1000px);
    -o-transform: translate(0px, -1000px);
    transform: translate(0px, -1000px); }
  20% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  40% {
    -webkit-transform: translate(0px, -50px);
    -moz-transform: translate(0px, -50px);
    -ms-transform: translate(0px, -50px);
    -o-transform: translate(0px, -50px);
    transform: translate(0px, -50px); }
  60% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes move2 {
  0% {
    -webkit-transform: translate(0px, -1000px);
    -moz-transform: translate(0px, -1000px);
    -ms-transform: translate(0px, -1000px);
    -o-transform: translate(0px, -1000px);
    transform: translate(0px, -1000px); }
  20% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  40% {
    -webkit-transform: translate(0px, -50px);
    -moz-transform: translate(0px, -50px);
    -ms-transform: translate(0px, -50px);
    -o-transform: translate(0px, -50px);
    transform: translate(0px, -50px); }
  60% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes move3 {
  0% {
    -webkit-transform: translate(-320px, -1000px);
    -moz-transform: translate(-320px, -1000px);
    -ms-transform: translate(-320px, -1000px);
    -o-transform: translate(-320px, -1000px);
    transform: translate(-320px, -1000px); }
  20% {
    -webkit-transform: translate(-320px, 0px);
    -moz-transform: translate(-320px, 0px);
    -ms-transform: translate(-320px, 0px);
    -o-transform: translate(-320px, 0px);
    transform: translate(-320px, 0px); }
  40% {
    -webkit-transform: translate(-320px, -50px);
    -moz-transform: translate(-320px, -50px);
    -ms-transform: translate(-320px, -50px);
    -o-transform: translate(-320px, -50px);
    transform: translate(-320px, -50px); }
  60% {
    -webkit-transform: translate(-320px, 0px);
    -moz-transform: translate(-320px, 0px);
    -ms-transform: translate(-320px, 0px);
    -o-transform: translate(-320px, 0px);
    transform: translate(-320px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes move3 {
  0% {
    -webkit-transform: translate(-320px, -1000px);
    -moz-transform: translate(-320px, -1000px);
    -ms-transform: translate(-320px, -1000px);
    -o-transform: translate(-320px, -1000px);
    transform: translate(-320px, -1000px); }
  20% {
    -webkit-transform: translate(-320px, 0px);
    -moz-transform: translate(-320px, 0px);
    -ms-transform: translate(-320px, 0px);
    -o-transform: translate(-320px, 0px);
    transform: translate(-320px, 0px); }
  40% {
    -webkit-transform: translate(-320px, -50px);
    -moz-transform: translate(-320px, -50px);
    -ms-transform: translate(-320px, -50px);
    -o-transform: translate(-320px, -50px);
    transform: translate(-320px, -50px); }
  60% {
    -webkit-transform: translate(-320px, 0px);
    -moz-transform: translate(-320px, 0px);
    -ms-transform: translate(-320px, 0px);
    -o-transform: translate(-320px, 0px);
    transform: translate(-320px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
.s4 ul {
  width: 1000px;
  margin: 0 auto; }
  .s4 ul li {
    float: left;
    margin: 0 10px; }
    .s4 ul li:nth-child(1) {
      -webkit-transform: translate(320px, -1000px);
      -moz-transform: translate(320px, -1000px);
      -ms-transform: translate(320px, -1000px);
      -o-transform: translate(320px, -1000px);
      transform: translate(320px, -1000px); }
    .s4 ul li:nth-child(2) {
      -webkit-transform: translate(0px, -1000px);
      -moz-transform: translate(0px, -1000px);
      -ms-transform: translate(0px, -1000px);
      -o-transform: translate(0px, -1000px);
      transform: translate(0px, -1000px); }
    .s4 ul li:nth-child(3) {
      -webkit-transform: translate(-320px, -1000px);
      -moz-transform: translate(-320px, -1000px);
      -ms-transform: translate(-320px, -1000px);
      -o-transform: translate(-320px, -1000px);
      transform: translate(-320px, -1000px); }
.s4.active li:nth-child(1) {
  -webkit-animation: move1 1s 0.5s forwards;
  -moz-animation: move1 1s 0.5s forwards;
  -ms-animation: move1 1s 0.5s forwards;
  -o-animation: move1 1s 0.5s forwards;
  animation: move1 1s 0.5s forwards; }
.s4.active li:nth-child(2) {
  -webkit-animation: move2 1s 0.5s forwards;
  -moz-animation: move2 1s 0.5s forwards;
  -ms-animation: move2 1s 0.5s forwards;
  -o-animation: move2 1s 0.5s forwards;
  animation: move2 1s 0.5s forwards; }
.s4.active li:nth-child(3) {
  -webkit-animation: move3 1s 0.5s forwards;
  -moz-animation: move3 1s 0.5s forwards;
  -ms-animation: move3 1s 0.5s forwards;
  -o-animation: move3 1s 0.5s forwards;
  animation: move3 1s 0.5s forwards; }

/*第五页*/
/*垂直切入动画*/
.s5 ul {
  width: 1000px;
  margin: 0 auto; }
  .s5 ul li {
    float: left;
    margin: 0 10px;
    -webkit-transform: translateY(1000px);
    -moz-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    -o-transform: translateY(1000px);
    transform: translateY(1000px); }
.s5.active ul li {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transiton: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }
  .s5.active ul li:nth-child(1) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .s5.active ul li:nth-child(2) {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -ms-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  .s5.active ul li:nth-child(3) {
    -webkit-transition-delay: 0.75s;
    -moz-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s; }

/*# sourceMappingURL=style.css.map */
